.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

h1
{
  font-family: Munro, Impact;
  color: #D91E18;
  padding: 0;
  margin: 0;
    text-align: center;
    align-content: center;
}

.TitleBar{
  text-align: center;
  align-content: center;  
}

img:hover{
  filter: opacity(20%);  
}


@font-face {
  font-family: Munro;
  src: url('./KaushanScript-Regular.otf');
  font-weight:400;
}

.previewComponent{
  position: absolute;
  top: 10vw;
  z-index: 1; 
  padding-top: 0.5vw;
  font-family: Munro, Impact;
  display: block;
  border-left: 20vw solid #D91E18;;
  border-right: 20vw solid #D91E18;
  border-top: 0;
  border-bottom: 0;
  text-align:center;
  align-content: center;
  background-color: white;
  margin: 0;
}
 

.fileInput {
  color: #D91E18;
  background: white;
  font-family: Munro, Impact;
  font-size: 2vw;
  border: 0.6vw solid #D91E18;
  border-radius: 0.4vw;
  opacity: 0;
  height: 0.1px;
  width:0.1px;
  z-index: -1;
}




.myLabel {
  color: white;
  border: 0.5vw solid #D91E18;
  margin: 4px;
  font-size: 3vw;
  text-align: top;
  background: #D91E18;
  display: inline-block;
  border-radius:1vw;
  width: 70%;
}
.myLabel:hover {
  background:white;
  border-style: inset;
  color:#D91E18;   
}
.myLabel:active {
  background: #CCF;
}
.myLabel :invalid + span {
  color: #A44;
}




.fileInput:hover{
  border: 0.6vw inset #D91E18;
  color: white;
  background: #D91E18;
}
.imgPreview {
  font-family: Munro, Impact;
  text-align: center;
  margin: 1vw;
}
.imgPreview img {
  width: 70%;
}
.previewText {
  font-family: Munro, Impact;
  width: 100%;
  margin-top: 20px;
}
.submitButton {
  color: white;
  background: #D91E18;
  font-family: Munro, Impact;
  font-size: 3vw;
  cursor: pointer;
  border: 0.6vw solid #D91E18;
  border-radius: 0.4vw;
  }
.submitButton:hover {
  border: 0.6vw inset #D91E18;
  color: #D91E18;
  background: white;
}
.godReverse{
  -moz-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}
.centerText {
  text-align: center;
  width: 500px;
}

.bugText{
  width: 50vw;
  height: 5vw;
}


#god{
  z-index: -1;
  margin: 0;
}